 Q.1 Explain the key fetures of python that make it a populer choice for programming

 Ans: Python is popular due to:

1 Readable Syntax: Easy to understand and write.

2.Versatility: Used in web development, data science, AI, etc.

3.Standard Library: Extensive modules for various tasks.

4.Community Support: Large, active community and vast resources.

5.Cross-Platform: Runs on Windows, macOS, and Linux.

6.Interpreted: Easy testing and debugging.

7.Integration: Works well with other languages and technologies.

8.Dynamic Typing: Flexible and reduces boilerplate code.

9.Multi-Paradigm: Supports object-oriented, functional, and procedural programming.

10.High Demand: Widely used in industry, leading to strong job prospects.

Q>2: Describe the role of predefind keywords in python and provided example of how they use in a program

Ans: 
redefined keywords in Python are reserved words that have special meanings and functions. They are essential for writing Python code and cannot be used as identifiers (names for variables, functions, etc.).

Examples:
1.  if, elif, else: Used for conditional statements.

In [2]:
x = 5  # Example value for x

if x > 10:
    print("x is greater than 10")
elif x == 10:
    print("x is 10")
else:
    print("x is less than 10")

x is less than 10

2  for, while: Used for loops.

In [12]:
for i in range(5):
    print(i)

while x < 10:
    print(x)
    x += 1

0
1
2
3
4

3. def: Used to define a function.

In [13]:
def greet(name):
    return f"Hello, {name}!"

Q>3Compare and cotract mutable and immutale object in python with example.

Mutable Objects

Definition: Objects whose state or content can be changed after creation.

    Examples:

In [20]:
# List

my_list = [1, 2, 3]
my_list[0] = 4  # Now my_list is [4, 2, 3]

In [21]:
# Dictionary

my_dict = {'a': 1, 'b': 2}
my_dict['a'] = 3  # Now my_dict is {'a': 3, 'b': 2}

Comparison

Mutability: Mutable objects can be modified in place, whereas immutable objects cannot be changed after creation.

Performance: Immutable objects can be more memory efficient and can lead to performance benefits in certain situations because they are hashable and can be used as keys in dictionaries.

Safety: Immutable objects provide more safety when used as constants or when shared across different parts of a program, reducing the risk of accidental changes.

Example of Usage:

In [23]:
# Mutable Example:

my_list = [1, 2, 3]
print(my_list)  # Output: [1, 2, 3]
my_list.append(4)
print(my_list)  # Output: [1, 2, 3, 4]

[1, 2, 3]
[1, 2, 3, 4]

In [24]:
# Immutable Example:

my_string = "hello"
print(my_string)  # Output: hello
# Attempting to modify the string
try:
    my_string[0] = 'H'
except TypeError as e:
    print(e)  # Output: 'str' object does not support item assignment

# To "change" the string, create a new one
new_string = 'H' + my_string[1:]
print(new_string)  # Output: Hello

hello
'str' object does not support item assignment
Hello

Q.4 Discuss the deferent type of opeater in python and provided examples of how thy are use.

1. Arithmetic Operators

Used to perform mathematical operations.

In [2]:
# Addition (+)
x = 5
y = 3
print(x + y)

8

In [3]:
# Subtraction (-)
print(x - y)

2

In [4]:
# Multiplication (*)
print(x * y)

15

In [6]:
# Division (/)
print(x / y)

1.6666666666666667

In [7]:
# Modulus (%)
print(x % y)

2

In [8]:
# Exponentiation (**)
print(x ** y)

125

In [9]:
# Floor Division (//)
print(x // y)

1

2. Comparison Operators

Used to compare two values.

In [10]:
# Equal (==)
print(x == y)

False

In [11]:
# Not Equal (!=)
print(x != y)

True

In [12]:
# Greater Than (>)
print(x > y)

True

In [13]:
# Less Than (<)
print(x < y)

False

In [14]:
# Greater Than or Equal To (>=)
print(x >= y)

True

In [15]:
# Less Than or Equal To (<=)
print(x <= y)

False

3. Logical Operators

Used to combine conditional statements.

-  AND (and)

In [16]:
a = True
b = False
print(a and b)

False

In [2]:
True and True

True

In [3]:
True and False

False

- OR (or)

In [4]:
True or True

True

In [5]:
True or False

True

In [7]:
False or True

True

In [8]:
False or False

False

4. Assignment Operators

Types:

1  "=": Assigns the value on the right to the variable on the left.

2 "+=": Adds the right operand to the left operand and assigns the result to the left operand.

3 "-=": Subtracts the right operand from the left operand and assigns the result to the left operand.

4 "*=": Multiplies the left operand by the right operand and assigns the result to the left operand.

5 "/=": Divides the left operand by the right operand and assigns the result to the left operand.

6 "%=": Takes the modulus of the left operand with the right operand and assigns the result to the left operand.

7 "**=": Raises the left operand to the power of the right operand and assigns the result to the left operand.

8 "//=": Performs floor division on the left operand by the right operand and assigns the result to the left operand.

In [3]:
#Example:
x = 10
x += 5  # Equivalent to x = x + 5
print(x)  # Output: 15
x *= 2  # Equivalent to x = x * 2
print(x)  # Output: 30

15
30

5. Bitwise Operators

Types:
    
1 '&' (AND): Performs a bitwise AND operation.

2 '|' (OR): Performs a bitwise OR operation.

3 '^' (XOR): Performs a bitwise XOR operation.

4 '~' (NOT): Performs a bitwise NOT operation (inverts all the bits).

5 '<<' (Left Shift): Shifts the bits of the first operand left by the number of positions specified by the second operand.

6 '>>' (Right Shift): Shifts the bits of the first operand right by the number of positions specified by the second operand.

In [4]:
# Example:
a = 5  # Binary: 0101
b = 3  # Binary: 0011
print(a & b)  # Output: 1 (Binary: 0001)
print(a | b)  # Output: 7 (Binary: 0111)
print(a ^ b)  # Output: 6 (Binary: 0110)
print(~a)     # Output: -6 (Binary: -0110 in two's complement form)
print(a << 1) # Output: 10 (Binary: 1010)
print(a >> 1) # Output: 2 (Binary: 0010)

1
7
6
-6
10
2

6. Membership Operators

Types:
    
'in': Returns 'True' if the specified value is found in the sequence.

'not in': Returns 'True' if the specified value is not found in the sequence.

In [5]:
# Example:
list1 = [1, 2, 3, 4, 5]
print(3 in list1)    # Output: True
print(6 not in list1)  # Output: True

True
True

7. Identity Operators

Types:
    
'is': Returns 'True' if the operands refer to the same object.

'is not': Returns 'True' if the operands do not refer to the same object.

In [6]:
# Example:
x = [1, 2, 3]
y = [1, 2, 3]
z = x
print(x is z)  # Output: True (same memory location)
print(x is y)  # Output: False (different memory locations)
print(x == y)  # Output: True (same content)

True
False
True

Q.5 Explain the concept of type casting in Python with examples,

Ans:- Type casting is the process of converting one data type to another. Python provides two ways to perform type casting:

1. Implicit Type Casting

Python automatically converts one data type to another during operations when needed.

Example:

In [7]:
num_int = 10       # Integer
num_float = 3.5    # Float
result = num_int + num_float  # Implicitly converts num_int to float
print(result)  # Output: 13.5 (Float)

13.5

2. Explicit Type Casting

The programmer manually converts a value's data type using built-in functions like int(), float(), str(), etc.

Examples:

In [8]:
# Convert string to integer
num_str = "100"
num_int = int(num_str)
print(num_int)  # Output: 100 (Integer)

# Convert float to integer
num_float = 8.9
num_int = int(num_float)
print(num_int)  # Output: 8 (Integer)

100
8

Q.6 0 How do conditional statements wo$k in Python? Illust$ate with examples.

 Ans:- Types of Conditional Statements in Python:
    
if statement

Executes a block of code if the condition is true.

Syntax:

In [13]:
age = 18
if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

if-else statement

Executes one block of code if the condition is true and another block if the condition is false.

Syntax:-

In [14]:
age = 16
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

You are not eligible to vote.

if-elif-else statement

Tests multiple conditions in sequence. The first true condition executes its block of code; if none are true, the else block runs.

Syntax:-

In [15]:
score = 75
if score >= 90:
    print("Grade: A")
elif score >= 80:
    print("Grade: B")
elif score >= 70:
    print("Grade: C")
else:
    print("Grade: D")

Grade: C

Q.7 Describe the diffenent types of loops in Python and their use cases with examples.

1. for Loop

Description: The for loop is used to iterate over a sequence (such as a list, tuple, dictionary, set, or string) and execute a block of code for each item in the sequence.

Use Case: When you know the number of iterations in advance or when iterating over a fixed sequence.

Syntax:

In [16]:
# Iterating over a list
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

Example with range() function:

In [17]:
# Printing numbers from 0 to 4
for i in range(5):
    print(i)

0
1
2
3
4

2. while Loop

Description: The while loop repeatedly executes a block of code as long as a specified condition is True.

Use Case: When the number of iterations is not known in advance, and the loop should continue until a condition is no longer met.

Syntax<-

In [18]:
# Printing numbers from 1 to 5
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

else Clause with Loops:

Description: The else block executes after the loop finishes normally (i.e., without encountering a break).

Example:-

In [19]:
for i in range(5):
    print(i)
else:
    print("Loop completed.")

0
1
2
3
4
Loop completed.